#root {
    -fx-background-color: #edebed;
}

#toolBar {
    -fx-background-color: LIGHTGRAY;
    -fx-pref-width: 20em;
    -fx-alignment: top-center;
    -fx-spacing: 2em;
}

#modesPanel {
    -fx-alignment: center;
    -fx-spacing: 1em;
}

.button {
    -fx-pref-width: 8em;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.circle {
    -fx-stroke: BLACK;
    -fx-fill: WHITE;
}

.line {
    -fx-stroke: BLACK;
}
