#root {
    -fx-background-color: #edebed;
}

#graphBuildTab {
    -fx-background-color: LIGHTGRAY;
    -fx-pref-width: 20em;
    -fx-alignment: top-center;
    -fx-spacing: 2em;
}

#modeSelectBox {
    -fx-alignment: center;
    -fx-spacing: 1em;
}

#savLoadResBox {
    -fx-alignment: center;
    -fx-spacing: 1em;
}

#algoContolPanel {
    -fx-background-color: LIGHTGRAY;
    -fx-pref-width: 20em;
    -fx-alignment: top-center;
    -fx-spacing: 2em;
}

#startAlgo {
    -fx-pref-width: 16em;
    -fx-alignment: center;
}

#algorithmBlocker {
    -fx-background-color: rgba(220, 220, 220, 0.75);
    -fx-alignment: center;
}

.button {
    -fx-pref-width: 8em;
    -fx-text-alignment: center;
}

.circle {
    -fx-stroke: BLACK;
    -fx-fill: WHITE;
}

.line {
    -fx-stroke: BLACK;
}
